<ion-view view-title="Login" hide-nav-bar="true" id="about-view" class="master-view">
  <ion-content>
    <!-- Listerine Logo -->
    <listerine-navbar has-back-button="true">
    </listerine-navbar>
    <img src="img/about-title@3x.png" alt=""/>

    <div class="paper paper-light">
      <div class="paper-container">

        <h2>&iquest;Por qué 21 dias?</h2>
        <p>21 d&iacute;as son suficientes para crear nuevos h&aacute;bitos, todo depende de la constancia y el beneficio que represente para cada persona el adquirirlo. Es cuesti&oacute;n de esfuerzo y dedicaci&oacute;n, y despu&eacute;s de 21 d&iacute;as, el nuevo h&aacute;bito probablemente se mantendr&aacute; por largo tiempo.</p>

        <p>Johnson &amp; Johnson &copy;&#160;lanza el <strong>Reto&#160;LISTERINE&reg; 21 D&iacute;as</strong>, para incentivar a crear el h&aacute;bito de uso del enjuague bucal como parte de una rutina de higiene oral, bas&aacute;ndose en la evidencia que muestra que LISTERINE&reg; reduce el 52%<sup>2</sup> m&aacute;s de placa bacteriana que el solo uso de cepillo y seda dental.</p>

        <small class="cite">1. Dihigg C. The Power of Habit: why we do what we do in life and business,2012.</small><br>
        <small class="cite">2. Sharma  NC et al(2004) Adjunctive benefit of essential oil-containing mouthrinse in reducing plaque and gingivitis in patients who brush and floss regularly. J Am Dent Assoc, vol 135, No 4 496-504</small>
      </div>
    </div>

    <div class="container">
      <a class="button button-calm button ion-chevron-left" ng-click="previousState()">&nbsp;&nbsp;atras</a>
      <ng-include src="'templates/partials/footer.html'"></ng-include>

    </div>
  </ion-content>
</ion-view>
