<ion-view view-title="Bienvenido a Salud oral con LISTERINE®" hide-nav-bar="false" id="app-intro-view" class="master-view">
  <div cg-busy="loginPromise"></div>

  <ion-content class="contained">
    <div class="container">
      <img src="img/reto21dias-intro@3x.png" alt="" class="challenge-intro-logo" />

      <ul style="width:50%; margin: 0 auto;" ng-hide="sessionExists">
        <li>
          <a ui-sref="assessment.questions" class="button button-positive button-block">
            ENTRAR
          </a>
        </li>
        <li>
          <a ui-sref="login" class="button button-light button-block">
            INICIA SESIÓN
          </a>
        </li>
      </ul>

      <div class="paper paper-light logged-user-info" ng-show="sessionExists">
        <div class="paper-container paper-container-skinny">
          <span>ya has iniciado sesión como</span>
          <h1>{{ user.name }} {{ user.last_name }}</h1>

          <div class="row">
            <div class="col col-50">
              <a ui-sref="assessment.questions" class="button button-block button-light">Continuar</a>
            </div>
            <div class="col col-50">
              <a class="button button-block button-light" ng-click="logout()">Salir</a>
            </div>
          </div>
        </div>
      </div>

      <ng-include src="'templates/partials/footer.html'"></ng-include>
    </div>
  </ion-content>
</ion-view>
