<ion-view view-title="Reto 21 dias" hide-nav-bar="false" id="listerine-view" class="master-view">
    <ion-content class="contained">
        <listerine-navbar has-next-button="true" next-state="intro">
        </listerine-navbar>

        <section class="paper paper-light" style="margin-bottom:0;">
            <div class="paper-container">
                <img src="img/listerine-family@3x.png" alt=""/>

                <h4>¿Cuál es el <strong>LISTERINE®</strong> ideal<br>
                    para su paciente en el reto?</h4>

                <a onclick="window.open('http://www.listerine.co/descubre-el-listerine-ideal-para-ti/?ref=familia', '_system', 'location=yes'); return false;" class="button button-positive">Descúbrelo aquí</a>
            </div>
        </section>

        <section class="paper paper-positive">
            <div class="paper-container">
                <h4>Compara y descubre los beneficios
                    de ocho variedades de <strong>LISTERINE®</strong></h4>

                <a onclick="window.open('http://www.listerine.co/descubre-el-listerine-ideal-para-ti/compara-y-descubre-los-beneficios-de-ocho-variedades-de-LISTERINE/?ref=home', '_system', 'location=yes'); return false;" class="button button-light">comparalos aquí</a>
            </div>
        </section>
    </ion-content>
</ion-view>

