<div class="container">
    <img src="img/day21-content@3x.png" alt="" width="90%" />
</div>
<div class="paper paper-light paper-no-shadow">
    <div class="paper-container paper-container-skinny">
        <img src="img/R21D-logo@3x.png" alt="" width="80" class="r21d-logo" /><br>
        <a class="button button-positive" ui-sref="user-engage" ng-show="hasSession">INVITA AL RETO</a>
        <a class="button button-positive" ui-sref="assessment.questions" ng-hide="hasSession">VOLVER A EMPEZAR</a>

    </div>
</div>