<ion-view view-title="Reto 21 dias" hide-nav-bar="false" id="challenge-view" class="master-view">

    <ion-content>
        <listerine-navbar has-next-button="true" next-state="listerine">
        </listerine-navbar>
    <div class="challenge-menu-wrapper">
        <section class="paper paper-positive" id="days-disclaimer">
            <div class="paper-container paper-container-skinny">
            <span>CONOZCA LOS BENEFICIOS QUE <strong>LISTERINE<sup>®</sup></strong> TIENE PARA SU PACIENTE DURANTE
                <strong>21 DÍAS DE USO</strong>, SELECCIONANDO LOS DÍAS</span><img src="img/arrow@3x.png" alt="" width="20"/>
            </div>
        </section>

        <ul class="days-menu">
            <li id="day1-button" class="day-button" ng-class="{'active' : activeDay === 'day1'}">
                <a ui-sref="challenge.day1" ng-click="changeActiveDay('day1')"></a>
            </li>
            <li id="day7-button" class="day-button animated bounce animation-delay-2s" ng-class="{'active' : activeDay === 'day7'}">
                <a ui-sref="challenge.day7" ng-click="changeActiveDay('day7')"></a>
            </li>
            <li id="day14-button" class="day-button" ng-class="{'active' : activeDay === 'day14'}">
                <a ui-sref="challenge.day14" ng-click="changeActiveDay('day14')"></a>
            </li>
            <li id="day21-button" class="day-button" ng-class="{'active' : activeDay === 'day21'}">
                <a ui-sref="challenge.day21" ng-click="changeActiveDay('day21')"></a>
            </li>
        </ul>
    </div>

    <!--   top: 56%; iphone 5 -->
    <div class="challenge-info-container slide-vertical-effect" ui-view></div>
    </ion-content>
</ion-view>

