<ion-view view-title="Reto 21 dias" hide-nav-bar="false" id="challenge-view" class="intro-view">
    <!--<ng-include src="'templates/partials/navbar.html'"></ng-include>-->
    <div style="width: 80%; margin: 0 auto;">
        <img src="img/reto21dias-intro@3x.png" alt="" class="challenge-intro-logo" />
        <a ui-sref="challenge.day1" class="button button-positive">
            BENEFICIOS DE LISTERINE<sup>&reg;</sup>
        </a>
    </div>
</ion-view>
