<ion-view view-title="Login" hide-nav-bar="true" id="user-engage-view" class="master-view">
  <div cg-busy="emailPromise"></div>

  <ion-content>
    <listerine-navbar>
    </listerine-navbar>

    <!-- The content of the page -->
    <div class="container hero-container">

      <article>
        <p>Escriba los datos personales de su paciente e invítelo a aceptar el reto LISTERINE® 21 días.</p>
      </article>
      <!-- Registration form -->
      <form id="register-form" name="registerForm" ng-submit="registerForm.$valid && subscribeUser()">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Nombre*" ng-model="user.name" required>
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Correo Electrónico*" ng-model="user.email" required>
          </label>
        </div>

        <!--<strong>Al marcar la casilla de permiso, aceptas que podamos usar y publicar la información que brindes
          en la sección de arriba. </strong>-->

        <!-- Registration legal opt-ins -->
        <div id="opt-ins">
          <div class="row">
            <div class="col">
              <label class="checkbox">
                <input type="checkbox" required>
              </label>
            </div>
            <div class="col col-75">
              <p>Usted autoriza a Johnson y Johnson de Colombia  S.A. para enviar un correo a invitando a su paciente y referenciándolo a usted con los datos brindados en la sección de arriba.
              </p>

              <p>*Los datos suministrados en la sección de arriba no serán utilizados para ningún otro fin diferente al envío de este único correo.
              </p>

            </div>
          </div>

          <div class="row">
            <div class="col col-50">
              <a class="button button-block button-stable" ui-sref="challenge.day1">cancelar</a>
            </div>
            <div class="col col-50">
              <input type="submit" value="enviar" class="button button-block button-calm" />
            </div>
          </div>
        </div>
        <!-- Registration legal opt-ins -->
      </form>
      <!-- END : Registration form -->
    </div>
  </ion-content>
</ion-view>
