<ion-view view-title="Login" hide-nav-bar="true" id="login-view" class="master-view">
    <div cg-busy="loginPromise"></div>

    <ion-content class="contained">
        <!-- The content of the page -->
        <img src="img/logo-login-screen@3x.png" alt="LISTERINE" class="main-logo"/>

        <div class="container">
            <form name="loginform" ng-submit="loginform.$valid && login()">
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="email" placeholder="Correo Electrónico" ng-model="user.email" required>
                    </label>
                    <label class="item item-input">
                        <input type="password" placeholder="Contraseña" ng-model="user.password" required>
                    </label>
                </div>

                <button class="button button-light"
                        type="submit"
                        id="login-button" ng-disabled="loginform.$invalid">Iniciar Sesi&oacute;n</button>
            </form>
        </div>

        <div id="registration-disclaimer">
            <p style="text-align: center; color:#007177">&iquest;No pertenece a nuestra comunidad LISTERINE<sup>&reg;</sup>?</p>
            <a ui-sref="register" class="button button-positive">Regístrese</a>
        </div>

        <footer>
            <a class="button button-light" ui-sref="about-the-challenge">&iquest;Por qué 21 dias?</a>
            <hr/>
            <div class="legals">
                <a ui-sref="legals.legal-note">Nota legal</a> | <a ui-sref="legals.privacy-policy">Politicas de privacidad</a> |
                <a ui-sref="legals.terms-and-conditions">Terminos de uso</a>
                <br/>
                <br/>

                <small>&copy; Johnson & Johnson de Colombia S.A. 2015. Todos los derechos reservados. Esta aplicación es destinada a residentes en Colombia, Perú y Ecuador.</small>
            </div>
        </footer>
    </ion-content>
</ion-view>
