<ion-view view-title="Login" hide-nav-bar="true" id="register-view" class="master-view">
  <div cg-busy="registerPromise"></div>

  <ion-content>
    <!-- The content of the page -->
    <div class="container hero-container">
      <!-- Listerine Logo -->
      <img src="img/logo-login-screen@3x.png" alt="LISTERINE" class="main-logo"/>

      <h4>Regístrese</h4>

      <p>El proporcionar información o datos de cualquier tipo en el área interactiva, declaras que dicha información o datos son de tu exclusiva propiedad o que cuentas con la autorización del propietario para proporcionarlos. Johnson & Johnson de Colombia S.A. no se hace responsable de cualquier perjuicio que se cause a terceras personas por la información proporcionada por los usuarios en el área de Directorio.</p>
      <strong>*Campo requerido</strong>

      <!-- Registration form -->
      <ul class="validation-errors" ng-show="errors">
        <li ng-repeat="error in errors">{{ error[0] }}</li>
      </ul>
      <form name="registerForm" id="register-form" ng-submit="registerForm.$valid && register()">
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Tu Nombre*" ng-model="newUser.name" required>
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Tus Apellidos*" ng-model="newUser.last_name" required>
          </label>
          <label class="item item-input">
            <div class="input-label">Fecha de Nacimiento*</div>
            <input type="date" placeholder="Fecha de Nacimiento*" ng-model="newUser.dob" required>
          </label>
          <label class="item item-input item-select">
            <div class="input-label">Genero*</div>
            <select name="gender" id="gender-select" ng-model="newUser.gender"
                    ng-options="item.name for item in genderOptions track by item.id" required>
            </select>
          </label>
          <label class="item item-input">
            <input type="email" placeholder="Correo Electrónico*" ng-model="newUser.email" required>
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Tus Teléfono*" ng-model="newUser.phone" required>
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Contraseña*" ng-model="newUser.password" required>
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Confirmar Contraseña*" ng-model="newUser.password_confirmation"
                   required>
          </label>
        </div>

        <strong>Al marcar la casilla de permiso, aceptas que podamos usar y publicar la información que brindes
          en la sección de arriba. </strong>

        <!-- Registration legal opt-ins -->
        <div id="opt-ins">
          <div class="row">
            <div class="col">
              <label class="checkbox">
                <input type="checkbox" name="tnc" ng-model="user.legals.tnc" required>
              </label>
            </div>
            <div class="col col-75">
              <p>Usted está de acuerdo que la información que usted provea será administrada por Johnson and
                Johnson de Colombia S.A. de acuerdo con la <a ui-sref="legals.privacy-policy">Política de Privacidad</a>
                de ésta aplicación.
              </p>

              <p>Al hacer clic en el botón “Registrarse", usted autoriza la cesión de su información a países
                fuera de su país de residencia, incluido a los Estados Unidos, los cuales podrán tener normas
                diferentes sobre la protección de datos que las vigentes en su países.</p>

            </div>
          </div>

          <div class="row">
            <div class="col">
              <label class="checkbox">
                <input type="checkbox" name="privacy" ng-model="user.legals.privacy" required>
              </label>
            </div>
            <div class="col col-75">
              <p>¿Acepta que publiquemos su información en nuestra aplicación de acuerdo a los <a
                  ui-sref="legals.terms-and-conditions">Términos y
                Condiciones</a> de ésta aplicación?</p>
            </div>
          </div>

          <div class="row">
            <div class="col col-50">
              <a ui-sref="login" class="button button-block button-stable">cancelar</a>
            </div>
            <div class="col col-50">
              <input type="submit" value="registrar" class="button button-block button-positive"
                     ng-disabled="registerForm.$invalid"/>
            </div>
          </div>
        </div>
        <!-- Registration legal opt-ins -->
      </form>
      <!-- END : Registration form -->

      <ng-include src="'templates/partials/footer.html'"></ng-include>
    </div>
  </ion-content>
</ion-view>
