<ion-view view-title="Assessment" hide-nav-bar="false" id="oral-care-steps-view" class="master-view">
    <listerine-navbar has-next-button="true" next-state="oralcare-tips.brushing">
    </listerine-navbar>

    <!-- step buttons -->
    <listerine-oral-care-menu  class="oral-care-steps oral-care-steps-plus">
        <listerine-oral-care-button step="brushing" target-state="oralcare-steps.brushing" on-activate="changeActiveStep(step)">
        </listerine-oral-care-button>
        <listerine-oral-care-button ng-class="{'animated bounce animation-delay-2s' : activeStep === 'brushing'}" step="flossing" target-state="oralcare-steps.flossing" on-activate="changeActiveStep(step)">
        </listerine-oral-care-button>
        <listerine-oral-care-button ng-class="{'animated bounce animation-delay-2s' : activeStep === 'flossing'}" step="mouthwash" target-state="oralcare-steps.mouthwash" on-activate="changeActiveStep(step)">
        </listerine-oral-care-button>
    </listerine-oral-care-menu>
    <!--/ step buttons -->

    <!--<oral-care-steps-buttons active="activeStep">
    </oral-care-steps-buttons>-->

    <div class="oral-care-step-container">
        <div class="mask-effect" ui-view></div>
    </div>

    <a class="button button-light usage-button"
       ui-sref="oralcare-tips.brushing"
       ng-show="activeStep !== 'brushing'">CÓMO USARLOS</a>

    <ng-include src="'templates/partials/oral_care/footer.html'"></ng-include>
</ion-view>
