<ion-slide-box>
	<ion-slide>
		<img src="img/howto-brush-1@3x.png" alt=""/>
	</ion-slide>
	<ion-slide>
		<img src="img/howto-brush-2@3x.png" alt=""/>
	</ion-slide>

</ion-slide-box>
<button class="slide-button slide-prev-button"
		ng-class="{ 'animated pulse infinite' : showPrevious }"
		ng-click="slidePrevious()"
		ng-show="showPrevious">
	<i class="icon ion-chevron-left"></i>
</button>
<button class="slide-button slide-next-button"
		ng-class="{ 'animated pulse infinite' : showNext }"
		ng-click="slideNext()"
		ng-show="showNext">
	<i class="icon ion-chevron-right"></i>
</button>