<ion-view view-title="Assessment" hide-nav-bar="false" id="oral-care-steps-view" class="master-view">
    <listerine-navbar has-next-button="true" next-state="challenge-intro">
    </listerine-navbar>

    <!-- step buttons -->
    <listerine-oral-care-menu>
        <listerine-oral-care-button step="brushing" target-state="oralcare-tips.brushing" on-activate="changeActiveStep(step)">
        </listerine-oral-care-button>
        <listerine-oral-care-button step="flossing" target-state="oralcare-tips.flossing" on-activate="changeActiveStep(step)">
        </listerine-oral-care-button>
        <listerine-oral-care-button step="mouthwash" target-state="oralcare-tips.mouthwash" on-activate="changeActiveStep(step)">
        </listerine-oral-care-button>
    </listerine-oral-care-menu>
    <!--/ step buttons -->

    <div class="oral-care-step-container">
        <div class="mask-effect" ui-view></div>
    </div>

    <a ui-sref="challenge-intro" class="button button-light usage-button" ng-show="activeStep === 'mouthwash'">CREANDO EL HABITO</a>

    <ng-include src="'templates/partials/oral_care/footer.html'"></ng-include>

    <div class="listerine-modal-container" ng-class="{'open' : isModalOpen}">
        <div class="modal-backdrop"></div>
        <div class="listerine-modal">
            <button class="close-button" type="button" ng-click="closeModal()"></button>
            <img src="img/mouthwash-usage@3x.png" alt="" width="80%" />
        </div>
    </div>

</ion-view>