
<div id="left-menu-options" class="list">
  <a class="item item-calm item-icon-right" menu-close ui-sref="login" ng-if="!user">
    Iniciar sesión<i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left item-icon-right" menu-close ng-click="logout()" ng-if="user">
    <i class="icon ion-person"></i>
    Hola, {{ user.name }} {{ user.last_name }}
    <i class="icon ion-log-out"></i>
  </a>
  <a class="item item-calm item-icon-right" menu-close ui-sref="about-the-challenge">&iquest;Por qué 21 días? <i class=" icon ion-chevron-right"></i></a>
  <div class="item item-divider"></div>
  <a class="item item-calm item-icon-right" menu-close ui-sref="assessment.questions">Test de salud oral<i class=" icon ion-chevron-right"></i></a>
  <a class="item item-calm item-icon-right" menu-close ui-sref="oralcare-steps.brushing">Pasos de la salud oral<i class=" icon ion-chevron-right"></i></a>
  <a class="item item-calm item-icon-right" menu-close ui-sref="oralcare-tips.brushing">cómo cepillarse <i class=" icon ion-chevron-right"></i></a>
  <a class="item item-calm item-icon-right" menu-close ui-sref="oralcare-tips.flossing">cómo usar el hilo dental<i class=" icon ion-chevron-right"></i></a>
  <a class="item item-calm item-icon-right" menu-close ui-sref="oralcare-tips.mouthwash">cómo usar LISTERINE&reg;<i class=" icon ion-chevron-right"></i></a>
  <div class="item item-divider"></div>
  <a class="item item-calm item-icon-right" menu-close ui-sref="legals.legal-note">Nota legal <i class=" icon ion-chevron-right"></i></a>
  <a class="item item-calm item-icon-right" menu-close ui-sref="legals.terms-and-conditions">Términos de uso <i class=" icon ion-chevron-right"></i></a>
  <a class="item item-calm item-icon-right" menu-close ui-sref="legals.privacy-policy">Política de privacidad <i class=" icon ion-chevron-right"></i></a>
</div>

<footer class="left-menu-legals">
  <div class="container">
    <p class="legal-text">
      &copy; Johnson & Johnson de Colombia S.A. 2015. Todos los derechos reservados. Esta aplicación es destinada a residentes en Colombia, Perú y Ecuador.
    </p>
    <p class="legal-text">

    </p>
  </div>
</footer>
