<ion-view view-title="Login" hide-nav-bar="true" id="register-view" class="master-view">
  <ion-content>
    <!-- The content of the page -->
    <div class="container hero-container">
      <!-- Listerine Logo -->
      <img src="img/logo-login-screen@3x.png" alt="LISTERINE" class="main-logo"/>

      <div ui-view></div>

      <footer>
        <hr/>
        <br/>
        <div class="legals legals-positive">
          <a ui-sref="legals.legal-note">Nota legal</a> | <a ui-sref="legals.privacy-policy">Politica de privacidad</a> |
          <a ui-sref="legals.terms-and-conditions">Terminos de uso</a>
          <br/>
          <br/>

          <small>&copy; Johnson & Johnson de Colombia S.A. 2015. Todos los derechos reservados. Esta aplicación es destinada a residentes en Colombia, Perú y Ecuador.</small>
          <br/>
          <br/>
          <small></small>
        </div>
      </footer>

      <a ui-sref="intro" class="button icon-right left button-positive button-block">volver al inicio</a>
    </div>
  </ion-content>
</ion-view>
