<p align="center">
  <strong>POLITICA DE PRIVACIDAD</strong>
</p>

<p>
  <strong>JOHNSON &amp; JOHNSON DE COLOMBIA S.A. </strong>
  se preocupa por las cuestiones de privacidad y quiere que usted est&#233; familiarizado con la forma en que recopilamos, utilizamos y/o divulgamos la
  informaci&#243;n. Esta Pol&#237;tica de Privacidad describe nuestras pr&#225;cticas en relaci&#243;n con la informaci&#243;n que nosotros o nuestros
  proveedores de servicios recopilamos a trav&#233;s de cualquier Sitio Web o aplicaci&#243;n (incluyendo, por ejemplo, un Sitio Web o aplicaci&#243;n
  m&#243;vil) operados y controlados por nosotros (en adelante el "<strong>Sitio</strong>"). Al proporcionarnos informaci&#243;n personal a trav&#233;s del
  Sitio, usted acepta los t&#233;rminos y condiciones de la presente Pol&#237;tica de Privacidad.
</p>
<p>
  <strong>RECOPILACI&#211;N DE INFORMACI&#211;N </strong>
  <strong></strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  <strong>Informaci&#243;n facilitada por usted</strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  Algunas &#225;reas del Sitio podr&#225;n requerir que env&#237;e informaci&#243;n personal a fin de que se beneficie de los beneficios u opciones
  especificadas (como suscripciones a boletines, consejos/pautas o procesamiento de &#243;rdenes) o participe en una actividad particular (como concursos u
  otras promociones). Se le comunicar&#225; qu&#233; informaci&#243;n es necesaria y cu&#225;l es opcional.
</p>
<p>
  Podremos combinar la informaci&#243;n que usted env&#237;e con otra informaci&#243;n que hemos recopilado de usted, ya sea a trav&#233;s de Internet o por
  fuera, que incluye, por ejemplo, su historial de compras. Tambi&#233;n podremos combinarla con la informaci&#243;n que recibimos de usted de otras fuentes,
  como las otras filiales operativas de Johnson &amp; Johnson, las fuentes de informaci&#243;n a disposici&#243;n del p&#250;blico (incluida la
  informaci&#243;n de sus perfiles de medios sociales disponible p&#250;blicamente), y de otros terceros.
</p>
<p>
  <strong>Recolecci&#243;n y uso pasivo de la informaci&#243;n</strong>
  <strong></strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  A medida que navega por el Sitio, cierta informaci&#243;n puede ser recopilada pasivamente (es decir, reunida sin que usted provea directamente la
  informaci&#243;n) usando diversas tecnolog&#237;as. Nosotros y nuestros proveedores de servicios externos recopilamos y utilizamos pasivamente la
  informaci&#243;n en una variedad de maneras, incluyendo:
</p>
<p>
  <strong>A trav&#233;s de su navegador</strong>
  : Cierta informaci&#243;n es recopilada por la mayor&#237;a de los navegadores, como su direcci&#243;n de Control de Acceso a Medios (Media Access Control,
  MAC), el tipo de computadora (Windows o Macintosh), la resoluci&#243;n de pantalla, la versi&#243;n del sistema operativo, y el tipo y la versi&#243;n del
  navegador de Internet. Podremos recopilar informaci&#243;n similar, como por ejemplo su tipo de dispositivo e identificador, si accede al Sitio a
  trav&#233;s de un dispositivo m&#243;vil.
</p>
<p>
  <strong>Uso de cookies</strong>
  : Las cookies representan una compilaci&#243;n de informaci&#243;n almacenada directamente en la computadora que usted utiliza. Las cookies nos permiten
  recopilar informaci&#243;n como el tipo de navegador, el tiempo de permanencia en el Sitio, las p&#225;ginas visitadas y las preferencias de idioma.
  Nosotros y nuestros proveedores de servicios utilizamos la informaci&#243;n por motivos de seguridad, para facilitar la navegaci&#243;n, mostrar
  informaci&#243;n de forma m&#225;s eficaz y para personalizar su experiencia al utilizar el Sitio. Tambi&#233;n utilizamos cookies para reconocer su
  computadora o dispositivo, lo que facilita su uso del Sitio, como recordar lo que est&#225; en su carrito de compras. Adem&#225;s, utilizamos cookies para
  obtener informaci&#243;n estad&#237;stica sobre el uso del Sitio a fin de mejorar continuamente su dise&#241;o y funcionalidad, entender c&#243;mo lo
  utilizan las personas y para ayudarnos a resolver preguntas sobre el mismo. Las cookies incluso nos permiten seleccionar cu&#225;l de nuestros anuncios u
  ofertas tienen m&#225;s probabilidades de atraerle y mostrarlos mientras usted se encuentre en el Sitio. Tambi&#233;n podremos utilizar cookies en la
  publicidad en l&#237;nea para rastrear las respuestas de los consumidores a nuestros anuncios.
</p>
<p>
  Puede negarse a aceptar estas cookies siguiendo las instrucciones de su navegador; sin embargo, si no las acepta, podr&#225; experimentar algunos
  inconvenientes en su uso del Sitio. Tambi&#233;n es posible que no reciba la publicidad u otras ofertas de nosotros que son relevantes para sus intereses y
  necesidades. Para obtener mayor informaci&#243;n sobre las cookies, visite <a href="http://www.allaboutcookies.org">http://www.allaboutcookies.org</a>.
</p>
<p>
  <strong>Uso de cookies de Flash</strong>
  : Nuestro uso de la tecnolog&#237;a Adobe Flash (incluidos los Objetos Almacenados en Forma Local de Flash [Flash Local Stored Objects, Flash LSO]) nos
  permite, entre otras cosas, servirle con informaci&#243;n m&#225;s adaptada, facilitar su acceso continuo y el uso del Sitio, as&#237; como recopilar y
  almacenar informaci&#243;n sobre su uso del Sitio. Si usted no quiere los Flash LSO almacenados en su computadora, puede ajustar la configuraci&#243;n de
  su reproductor de Flash para bloquear el almacenamiento de los Flash LSO utilizando las herramientas contenidas en el
  <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html">
    Panel de Configuraci&#243;n de Almacenamiento del Sitio Web
  </a>
  (Website Storage Settings Panel). Tambi&#233;n puede controlar los Flash LSO yendo al
  <a href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager03.html">
    Panel de Configuraci&#243;n de Almacenamiento Global
  </a>
  (Global Storage Settings Panel) y siguiendo las instrucciones (que podr&#225;n incluir instrucciones que explican, por ejemplo, la forma de eliminar los
  Flash LSO existentes (mencionados como "informaci&#243;n" en el sitio de Macromedia), la forma de evitar que los Flash LSO se almacenen en su computadora
  sin consultarle y (para Flash Player 8 y versiones posteriores) la forma de bloquear los Flash LSO que no est&#225;n siendo entregados por el operador de
  la p&#225;gina en la que se encuentra en ese momento). Tenga en cuenta que configurar el reproductor de Flash para restringir o limitar la aceptaci&#243;n
  de los Flash LSO podr&#225; reducir o impedir la funcionalidad de algunas aplicaciones de Flash, incluyendo, potencialmente, las aplicaciones de Flash
  utilizadas en relaci&#243;n con el Sitio o nuestro contenido en l&#237;nea.<strong></strong>
</p>
<p>
  <strong>Uso de etiquetas de p&#237;xel, contadores de visitantes, GIF transparentes u</strong>
  <strong>otras tecnolog&#237;as similares</strong>
  : Estas podr&#225;n ser utilizadas en conexi&#243;n con algunas p&#225;ginas del Sitio y mensajes de correo electr&#243;nico con formato HTML para, entre
  otras cosas, dar seguimiento a las acciones de los usuarios del Sitio y los destinatarios de correo electr&#243;nico, medir el &#233;xito de nuestras
  campa&#241;as de comercializaci&#243;n, y compilar estad&#237;sticas sobre el uso del Sitio y las tasas de respuesta.
</p>
<p>
  <strong>Publicidad conductual en l&#237;nea: </strong>
  El uso de cookies, etiquetas de p&#237;xel, contadores de visitantes, GIF transparentes u otras tecnolog&#237;as similares permite a nuestros proveedores
  externos ofrecer anuncios sobre nuestros productos y servicios cuando usted visita el Sitio u otros sitios web o propiedades web a trav&#233;s de Internet.
  Estos proveedores podr&#225;n colocar etiquetas de p&#237;xel, contadores de visitas, GIF transparentes, o tecnolog&#237;as similares en el Sitio y otros
  sitios web o propiedades web, y tambi&#233;n colocar o reconocer cookies de terceros cuando usted visita el Sitio u otros sitios o propiedades web.
  Podr&#225;n utilizar informaci&#243;n sobre sus visitas al Sitio y otros sitios web o propiedades web para proporcionar anuncios sobre bienes y servicios
  que puedan ser de su inter&#233;s.
</p>
<p>
  <strong>Direcci&#243;n de IP</strong>
  : Su direcci&#243;n de IP es un n&#250;mero que su proveedor de servicios de Internet (Internet Service Provider, ISP) asigna autom&#225;ticamente a la
  computadora que est&#225; utilizando. Una direcci&#243;n de IP se identifica y queda anotada autom&#225;ticamente en nuestros archivos de registro de
  servidores cuando un usuario visita el Sitio, junto con la hora de visita y la(s) p&#225;gina(s) visitada(s). La recopilaci&#243;n de direcciones de IP es
  pr&#225;ctica habitual en Internet y es realizada de forma autom&#225;tica por muchos sitios web. Utilizamos las direcciones de IP para fines tales como
  calcular los niveles de uso del Sitio, ayudar a diagnosticar problemas en el servidor y administrar el Sitio.
</p>
<p>
  <strong></strong>
</p>
<p>
  <strong>Informaci&#243;n del dispositivo</strong>
  : Podremos recopilar informaci&#243;n sobre su dispositivo m&#243;vil, como un identificador de dispositivo &#250;nico.<strong> </strong><strong></strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  <strong>C&#243;mo utilizamos y divulgamos informaci&#243;n</strong>
  <strong></strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  Utilizamos y divulgamos la informaci&#243;n que usted nos proporciona siguiendo los procesos descriptos al momento de la recopilaci&#243;n.
</p>
<p>
  Tambi&#233;n utilizamos su informaci&#243;n:
</p>
<p>
  &#183; para responder a sus consultas y atender sus solicitudes, como enviarle los documentos que solicita o alertas por correo electr&#243;nico;    <strong></strong>
</p>
<p>
  &#183; para enviarle informaci&#243;n importante sobre nuestra relaci&#243;n con usted o sobre el Sitio, con relaci&#243;n al Sitio, las modificaciones de
  nuestros t&#233;rminos, condiciones, y pol&#237;ticas y/u otra informaci&#243;n administrativa; y<strong></strong>
</p>
<p>
  &#183; para fines comerciales, como el an&#225;lisis de datos, las auditor&#237;as, el desarrollo de nuevos productos, la mejora de nuestro Sitio, la
  mejora de nuestros productos y servicios, la identificaci&#243;n de las tendencias de uso del Sitio, personalizar su experiencia en el Sitio al presentar
  productos y ofertas adaptadas para usted, y determinar la eficacia de nuestras campa&#241;as promocionales. <strong></strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  Asimismo, divulgamos informaci&#243;n recopilada a trav&#233;s del Sitio: <strong></strong>
</p>
<p>
  &#183; para nuestros afiliados para los fines descritos en esta Pol&#237;tica de Privacidad. Una lista de nuestros afiliados est&#225; disponible    <a href="http://www.investor.jnj.com/governance/sec-filings.cfm">aqu&#237;</a> (haga clic en el enlace del Formulario 10K, Anexo 21, en "Documentos
  presentados a la SEC" [SEC Filings]). <strong>JOHNSON &amp; JOHNSON DE COLOMBIA S.A.</strong> es la parte responsable de la gesti&#243;n de la
  informaci&#243;n personal utilizada de forma conjunta;<strong> </strong><strong></strong>
</p>
<p>
  &#183; para nuestros socios externos con los que ofrecemos una promoci&#243;n de marca compartida o comercializada en conjunto;<strong></strong>
</p>
<p>
  &#183; para nuestros proveedores de servicios externos que prestan servicios como el alojamiento y moderaci&#243;n de sitios web, el alojamiento de
  aplicaciones m&#243;viles, el an&#225;lisis de datos, el procesamiento de pagos, la realizaci&#243;n de pedidos, la provisi&#243;n de infraestructura, los
  servicios de TI, el servicio al cliente, los servicios de entrega de correo electr&#243;nico y correo directo, el procesamiento de tarjetas de
  cr&#233;dito, los servicios de auditor&#237;a y otros servicios, con el fin de facultarlos a prestar los servicios; y<strong></strong>
</p>
<p>
  &#183; para un tercero en caso de una reorganizaci&#243;n, fusi&#243;n, venta, sociedad conjunta, cesi&#243;n, transferencia u otra enajenaci&#243;n de la
  totalidad o parte de nuestra actividad comercial, activos o acciones (incluidos los actos relacionados con cualquier proceso de quiebra o similar).    <strong></strong>
</p>
<p>
  Adem&#225;s, utilizamos y divulgamos la informaci&#243;n recopilada a trav&#233;s del Sitio, seg&#250;n lo consideremos necesario o apropiado: (a) en
  virtud de la ley aplicable, lo que incluye las leyes vigentes fuera de su pa&#237;s de residencia; (b) para cumplir con un proceso legal conforme lo
  establecido por ley; (c) para responder a solicitudes de autoridades p&#250;blicas y gubernamentales, incluidas las autoridades p&#250;blicas y
  gubernamentales fuera de su pa&#237;s de residencia; (d) para hacer cumplir nuestros t&#233;rminos y condiciones; (e) para proteger nuestras operaciones o
  las operaciones de cualquiera de nuestras empresas afiliadas; (f) para proteger nuestros derechos, privacidad, seguridad o bienes, y/o la de nuestras
  empresas afiliadas, usted u otras; y (g) para permitirnos hacer uso de los recursos disponibles o limitar los da&#241;os y perjuicios que podamos sufrir.
  Tambi&#233;n podremos utilizar y divulgar la informaci&#243;n recopilada a trav&#233;s del Sitio de otras maneras, con su consentimiento. <strong></strong>
</p>
<p>
  Tambi&#233;n utilizamos y divulgamos informaci&#243;n que recopilamos pasivamente como se ha descrito anteriormente, en "Recopilaci&#243;n y uso pasivo de
  informaci&#243;n", para cualquier otro prop&#243;sito, salvo que se nos exija hacerlo de otra manera en virtud de la ley aplicable (por ejemplo, si se nos
  requiere tratar dicha informaci&#243;n como informaci&#243;n personal). Adem&#225;s, podremos utilizar y divulgar la informaci&#243;n que no se encuentre
  en formato de identificaci&#243;n personal para cualquier prop&#243;sito.<strong> </strong>Si combinamos la informaci&#243;n que no se encuentra en formato
  de identificaci&#243;n personal con informaci&#243;n que s&#237; (como la combinaci&#243;n de su nombre con su ubicaci&#243;n geogr&#225;fica), trataremos
  la informaci&#243;n combinada como informaci&#243;n personal, siempre y cuando se mantenga combinada. <strong></strong>
</p>
<p>
  <strong>SITIOS Y SERVICIOS DE TERCEROS </strong>
  <strong></strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  Esta Pol&#237;tica de Privacidad no se refiere a la privacidad, la informaci&#243;n u otras pr&#225;cticas de terceros, ni tampoco nos responsabilizamos al
  respecto, incluido por cualquier tercero que opere cualquier sitio web o propiedad web (incluyendo, sin limitaci&#243;n, cualquier aplicaci&#243;n) que
  est&#233; disponible a trav&#233;s de este Sitio o para el cual este Sitio a trav&#233;s de un link o enlace del Sitio. La disponibilidad o la
  inclusi&#243;n de un enlace a cualquier sitio o propiedad en el Sitio no implican nuestra aprobaci&#243;n o la de nuestras compa&#241;&#237;as afiliadas.
</p>
<p>
  <strong><em></em></strong>
</p>
<p>
  <strong>Seguridad</strong>
  <strong></strong>
</p>
<p>
  Empleamos medidas de organizaci&#243;n, t&#233;cnicas y administrativas razonables para proteger la informaci&#243;n personal que est&#225; bajo nuestro
  control. Lamentablemente, no es posible garantizar la seguridad total de todos los sistemas de almacenamiento de datos o sistema de transmisi&#243;n de
  datos por Internet. Si tiene motivos para creer que su interacci&#243;n con nosotros ya no es segura (por ejemplo, si siente que se ha comprometido la
  seguridad de alguna cuenta que tiene con nosotros), notif&#237;quenos el problema de inmediato a trav&#233;s de la secci&#243;n <em>"Cont&#225;ctenos"</em>
  (Contacting Us) a continuaci&#243;n.
</p>
<p>
  <strong>OPCIONES Y ACCESO</strong>
  <strong></strong>
</p>
<p>
  <strong>Sus opciones con respecto a nuestro uso y divulgaci&#243;n de su informaci&#243;n personal</strong>
  <strong></strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  Le damos opciones con respecto a nuestro uso y divulgaci&#243;n de su informaci&#243;n personal para fines de comercializaci&#243;n. Usted podr&#225; optar
  por no:
</p>
<ul style="list-style: initial;text-align: justify;">
  <li>
    <strong>Recibir comunicaciones de comercializaci&#243;n nuestras</strong>
    : Si ya no desea recibir comunicaciones de comercializaci&#243;n nuestras a futuro, podr&#225; optar por no recibirlas al contactarnos<strong>v&#237;a telef&#243;nica a la l&#237;nea de atenci&#243;n al cliente 01-800 05 17000 o enviar un correo electr&#243;nico a </strong>        <a href="mailto:consumidor@conco.jnj.com"><strong>consumidor@conco.jnj.com</strong></a>. En su comunicaci&#243;n, proporcione su nombre, identifique
    el(los) formulario(s) de las comunicaciones de comercializaci&#243;n que ya no desea recibir, e incluya la(s) direcci&#243;n (direcciones) a la(s) que
    este (estos) son enviado(s)]. Por ejemplo, si ya no desea recibir correos electr&#243;nicos de comercializaci&#243;n o correo directo nuestro,
    d&#237;ganoslo, y proporcione su nombre y correo electr&#243;nico o direcci&#243;n postal. Tambi&#233;n podr&#225; optar por no recibir comunicaciones
    de comercializaci&#243;n nuestras al visitar el Sitio para actualizar su perfil en l&#237;nea. Adem&#225;s, podr&#225; optar por no recibir correos
    electr&#243;nicos de comercializaci&#243;n nuestros al seguir las instrucciones para cancelar la suscripci&#243;n que aparecen en cualquier mensaje.
  </li>
  <li>
    <strong>Recibir recordatorios nuestros</strong>
    : Si ya no desea recibir recordatorios m&#233;dicos nuestros a futuro, podr&#225; optar por no recibirlos al contactarnos<strong>v&#237;a telef&#243;nica a la l&#237;nea de atenci&#243;n al cliente 01-800 05 17000 o enviar un correo electr&#243;nico a </strong>        <a href="mailto:consumidor@conco.jnj.com"><strong>consumidor@conco.jnj.com</strong></a><strong>.</strong> En su comunicaci&#243;n, proporcione su
    nombre y la direcci&#243;n de correo electr&#243;nico o n&#250;mero telef&#243;nico en el que recibe recordatorios nuestros.
  </li>
  <li>
    <strong>Nuestra divulgaci&#243;n de su informaci&#243;n personal con afiliados y socios externos</strong>
    : Si prefiere que no compartamos su informaci&#243;n personal a futuro con nuestros afiliados y/o socios terceros con fines de comercializaci&#243;n,
    podr&#225; optar por no compartir esta informaci&#243;n al ponerse en contacto con nosotros<strong>v&#237;a telef&#243;nica a la l&#237;nea de atenci&#243;n al cliente 01-800 05 17000 o enviar un correo electr&#243;nico a </strong>        <a href="mailto:consumidor@conco.jnj.com"><strong>consumidor@conco.jnj.com</strong></a><strong>.</strong> En su comunicaci&#243;n, indique que ya no
    debemos compartir su informaci&#243;n personal con nuestros afiliados y/o socios externos con fines de comercializaci&#243;n, e incluya su nombre y
    direcci&#243;n de correo electr&#243;nico.
  </li>
</ul>
<p>
  Intentaremos cumplir con su(s) solicitud(es) tan pronto como sea razonablemente posible. Tenga en cuenta que si decide no recibir correspondencia, tal como
  se describi&#243; anteriormente, no podremos eliminar su informaci&#243;n personal de las bases de datos de nuestros afiliados, con los que ya hayamos
  compartido su informaci&#243;n personal (es decir, a la fecha en la que implementamos su solicitud para no recibir correspondencia). Tenga tambi&#233;n en
  cuenta que si opta por no recibir mensajes nuestros relacionados con la comercializaci&#243;n, todav&#237;a podremos enviarle importantes mensajes
  transaccionales y administrativos, de los que no puede optar por no participar.<strong></strong>
</p>
<p>
  <strong>C&#243;mo puede acceder, modificar o eliminar su informaci&#243;n personal</strong>
  <strong></strong>
</p>
<p>
  Si desea revisar, corregir, actualizar o eliminar la informaci&#243;n personal que nos ha proporcionado a trav&#233;s del Sitio, p&#243;ngase en contacto
  con nosotros <strong>v&#237;a telef&#243;nica a la l&#237;nea de atenci&#243;n al cliente 01-800 05 17000 o enviar un correo electr&#243;nico a </strong>    <a href="mailto:consumidor@conco.jnj.com"><strong>consumidor@conco.jnj.com</strong></a><strong>.</strong> Intentaremos cumplir con su solicitud tan pronto
  como sea razonablemente posible.
</p>
<p>
  <strong></strong>
</p>
<p>
  <strong>PER&#205;ODO DE CONSERVACI&#211;N</strong>
  <strong></strong>
</p>
<p>
  Conservamos su informaci&#243;n personal durante el per&#237;odo que sea necesario para cumplir con los fines establecidos en esta Pol&#237;tica de
  Privacidad, salvo que la ley exija o permita un per&#237;odo de retenci&#243;n mayor o que de otra forma cumpla con una obligaci&#243;n legal.
</p>
<p>
  <strong>Uso del Sitio por parte de MENORES</strong>
  <strong></strong>
</p>
<p>
  <strong><u></u></strong>
</p>
<p>
  <strong>
    <u>Si su sitio est&#225; dirigido a los adultos (incluyendo si el Sitio permite que los adultos proporcionen informaci&#243;n sobre sus hijos)</u>
  </strong>
  <strong>:</strong>
</p>
<p>
  El Sitio no est&#225; dirigido a personas menores de 18 a&#241;os de edad y pedimos que estas personas no proporcionen informaci&#243;n personal a
  trav&#233;s del Sitio. <strong></strong>
</p>
<p>
  <strong><u>O, si su sitio est&#225; dirigido a los adolescentes o los ni&#241;os</u></strong>
  <strong>:</strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  El Sitio est&#225; dirigido a los adolescentes o los ni&#241;os. Una persona menor de 18 a&#241;os de edad podr&#225; utilizar el Sitio &#250;nicamente con
  el consentimiento previo de sus padres o tutor legal. Se ofrecen instrucciones para dar su consentimiento en el Sitio.<strong></strong>
</p>
<p>
  <strong>TRANSFERENCIA ENTRE PA&#205;SES</strong>
  <strong></strong>
</p>
<p>
  Su informaci&#243;n personal podr&#225; almacenarse y procesarse en cualquier pa&#237;s donde tengamos instalaciones o proveedores de servicios, y al usar
  nuestro Sitio o darnos su consentimiento (donde lo exija la ley), usted acuerda transferir la informaci&#243;n a pa&#237;ses distintos de su pa&#237;s de
  residencia, incluido a los Estados Unidos, los cuales podr&#225;n tener normas diferentes sobre la protecci&#243;n de datos que las vigentes en su
  pa&#237;s. <strong></strong>
</p>
<p>
  <strong>INFORMACI&#211;N CONFIDENCIAL</strong>
  <strong></strong>
</p>
<p>
  <strong></strong>
</p>
<p>
  A menos que lo solicitemos o invitemos de manera espec&#237;fica, le pedimos que no nos env&#237;e y que no divulgue informaci&#243;n confidencial alguna (    <em>por ejemplo</em>, la informaci&#243;n relacionada con el origen racial o &#233;tnico, las opiniones pol&#237;ticas, la religi&#243;n u otras creencias,
  la salud, los antecedentes penales o la afiliaci&#243;n sindical) en el Sitio o a trav&#233;s de este, o de otra manera para nosotros. En los casos en los
  que podamos solicitar o invitarle a que proporcione informaci&#243;n confidencial, lo haremos con su consentimiento expreso. <strong></strong>
</p>
<p>
  <strong>ACTUALIZACIONES DE ESTA POL&#205;TICA DE PRIVACIDAD</strong>
  <strong></strong>
</p>
<p>
  Podremos cambiar esta Pol&#237;tica de Privacidad. Mire la leyenda "<em>&#218;ltima actualizaci&#243;n</em>"(LAST UPDATED) que aparece en la parte inferior
  de esta p&#225;gina para consultar cu&#225;ndo se revis&#243; por &#250;ltima vez la presente Pol&#237;tica de Privacidad. Toda modificaci&#243;n de
  nuestra Pol&#237;tica de Privacidad entrar&#225; en vigencia despu&#233;s de la publicaci&#243;n de la Pol&#237;tica de Privacidad revisada en el Sitio. El
  uso que haga del Sitio con posterioridad a estas modificaciones implica su aceptaci&#243;n de la Pol&#237;tica de Privacidad revisada.<strong></strong>
</p>
<p>
  <strong>CONT&#193;CTENOS</strong>
  <strong></strong>
</p>
<p>
  Si tiene alguna pregunta sobre esta Pol&#237;tica de Privacidad, cont&#225;ctenos<strong>v&#237;a telef&#243;nica a la l&#237;nea de atenci&#243;n al cliente 01-800 05 17000 o enviar un correo electr&#243;nico a </strong>    <a href="mailto:consumidor@conco.jnj.com"><strong>consumidor@conco.jnj.com</strong></a>, o escriba a la siguiente direcci&#243;n:
</p>
<p>
  JOHNSON &amp; JOHNSON DE COLOMBIA S.A.
</p>
<p>
  Departamento del Servicio al Consumidor y al Cliente
  <br/>
  Calle 15 No. 31-146 URB. ACOPI
  <br/>
  APARTADO 6530
  <br/>
  CALI - COLOMBIA
  <br/>
  01-800 05 17000
  <br/>
  <a href="mailto:consumidor@conco.jnj.com">consumidor@conco.jnj.com</a>
</p>