<h1>TÉRMINOS DE USO</h1>

<p>La descarga y utilizaci&oacute;n de esta aplicaci&oacute;n puede ser realizada por personas que se encuentren aprobadas por Johnson &amp; Johnson de Colombia S.A., e identificadas mediante el c&oacute;digo UUID de su dispositivo iPad (sistema operativo iOS 7.0 mínimo).<br>
  El uso de esta aplicaci&oacute;n no requiere licencia y es gratuito.<br>
  Esta aplicaci&oacute;n est&aacute; destinada a ser usada por Empleados de Johnson &amp; Johnson y/o contratistas Profesionales de visita Odontol&oacute;gica residentes en Colombia, Ecuador y Per&uacute;.<br>
  Johnson &amp; Johnson de Colombia S.A. no se hace responsable de los datos almacenados en el dispositivo, que son la responsabilidad de su due&ntilde;o.&#160;<br>
  Terminaci&oacute;n de la licencia: La licencia es v&aacute;lida mientras la aplicaci&oacute;n est&aacute; disponible para su descarga.<br>
  Exactitud / Endoso: una vez instalada la aplicaci&oacute;n es responsabilidad del propietario del dispositivo. Johnson &amp; Johnson de Colombia S.A. no se hace responsable de cualquier contenido que no est&aacute; alineado con el prop&oacute;sito de esta aplicaci&oacute;n.<br>
  Utilizaci&oacute;n Adecuada: Esta aplicaci&oacute;n tiene como objetivo informar y orientar al profesional de la salud. Cualquier otro uso de este prop&oacute;sito no recibe la aprobaci&oacute;n Johnson &amp; Johnson de Colombia S.A. <br>
  Modificaci&oacute;n de aplicaci&oacute;n con licencia: Esta aplicaci&oacute;n es protegida por derechos de autor, modificaci&oacute;n, venta y cesi&oacute;n sin el consentimiento del autor est&aacute; prohibido.<br>
  Garant&iacute;a: Trabajamos para garantizar que la aplicaci&oacute;n es funcional en todos los dispositivos a los que utilizan aplicaciones para iPad (Nuevo iPad, iOS 6.1). Sin embargo no se puede garantizar que todos los dispositivos est&aacute;n exentos de defectos que pueden interferir con el funcionamiento de la misma.<br>
  Limitaci&oacute;n de responsabilidad: Al optar por descargar la aplicaci&oacute;n que de acuerdo con nuestra pol&iacute;tica de privacidad y aviso legal, Johnson &amp; Johnson de Colombia S.A. no se hace responsable de la informaci&oacute;n almacenada en el dispositivo, dejando a su due&ntilde;o la protecci&oacute;n de los mismos.</p>

<p>&#160;&iquest;C&oacute;mo contactar con nosotros?:<br>
  &#160;<br>
  Colombia<br>
  Johnson &amp; Johnson de Colombia S.A<br>
  Departamento del Servicio al Consumidor<br>
  018000 51 7000 <br>
  consumidor@conco.jnj.com<br>
  &#160;<br>
  &#160;&#160;<br>
  Ecuador<br>
  Johnson &amp; Johnson del Ecuador S.A<br>
  Departamento del Servicio al Consumidor<br>
  1 800 222 555<br>
  pregunta@its.jnj.com<br>
  &#160;<br>
  &#160;&#160;<br>
  Per&uacute;<br>
  Johnson &amp; Johnson del Per&uacute; S.A<br>
  Departamento del Servicio al Consumidor<br>
  0800 53233<br>
  consumidor@conpe.jnj.com<br>
  &#160;<br>
</p>