<footer>
  <hr/>
  <div class="legals">
    <a ui-sref="legals.legal-note">Nota legal</a> | <a ui-sref="legals.privacy-policy">Politicas de privacidad</a> |
    <a ui-sref="legals.terms-and-conditions">Terminos de uso</a>
    <br/>
    <br/>

    <small>&copy; Johnson & Johnson de Colombia S.A. 2015. Todos los derechos reservados. Esta aplicación es destinada a residentes en Colombia, Perú y Ecuador.</small>
  </div>
</footer>