<ion-view view-title="Assessment" hide-nav-bar="false" id="assessment-view" ng-init="init()" class="master-view">
  <div cg-busy="{promise:scorePromise,message:'Evaluando tus respuestas...'}"></div>

  <ion-content id="assessment-view-container" class="contained">
    <listerine-navbar>
    </listerine-navbar>

    <div class="mask-effect" ui-view></div>
  </ion-content>
</ion-view>
