<div class="paper paper-light">
    <div class="paper-container paper-container-skinny">
        <h2>EVALUACIÓN<br> DE PERCEPCIÓN<br> DE SALUD ORAL<br>
            <small>(aplíquelo a sus pacientes)</small>
        </h2>
    </div>
</div>

<div class="question-card-list">
    <question-card ng-repeat="question in questions | filter" question="question" on-answer="respondQuestion(question, answer)">
    </question-card>
</div>
