<section class="paper paper-light" style="margin-bottom:0">
    <div class="paper-container">
        <img src="img/assessment-result-statement.svg" alt=""/>

        <oral-care-score score="score"></oral-care-score>
        <a ng-click="previousState()" class="button button-light button-block button-icon-left" href="">volver al test</a>
    </div>
</section>

<section class="paper paper-positive">
    <div class="paper-container">
        <h5>&iquest;QUIERES MEJORAR TU SALUD ORAL?<br>
            SIGUE LOS TRES PASOS<br>DE LA RUTINA DE HIGIENE ORAL.</h5>

        <a class="button button-light" ui-sref="oralcare-steps.brushing">CONÓCELOS</a>
    </div>
</section>