/* Empty. Add your own CSS if you like */

body {
    padding: 0;
    margin: 0;

    color: #4b4c4c;
}

p {
    text-align: justify;
}

a {
    color: #44bfcb;
    text-decoration: underline;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    text-align: center;
}

img {
    max-width: 100%;
}

.input-label {
    color: #AAA;
    font-size: 0.8em;
    text-align: left;
}
/* --------------------------------------------- */

.loading {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;

    background: rgba(72,215,220,1);
    background: -webkit-linear-gradient(top, rgba(72,215,220,0.7) 0%, rgba(55,167,171,0.7) 100%);
    background: linear-gradient(to bottom, rgba(72,215,220,0.7) 0%, rgba(55,167,171,0.7) 100%);

}

.loading .spinner-container {
    position: absolute;
    top: 26% !important;
    width: 65%;
    margin: 0 auto;
}


.loading h2.loading-message {
    text-transform: capitalize;
    color: white;
    opacity: 1;
    font-style: italic;
    font-family: Gotham, Helvetica;
    font-size: 1.7em;
}
/* --------------------------------------------- */

.container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.cite {
    text-align: left !important;
    font-size: 0.65em;
}

.animation-delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
/* --------------------------------------------- */

.master-view {
    background-image: -webkit-linear-gradient(top, #fff 55%,#2ba6ac 100%);
}

.main-logo {
    width: 80%;
    margin: 55px auto 35px;
    display: block;
}

.legals,
.legals a {
    color: white;
    text-align: center;
    font-size: 0.95em;
}

.left-menu-legals {
    /*position: absolute;*/
    /*bottom: 0;*/
}

.legals-positive,
.legals-positive a {
    color: #00292b;
}

.legal-text {
    font-size: 10px;
    color: #aaa;
    line-height: 1.3em;
}

.hero-container {
    border-radius: 6px;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.usage-button {
    /*position: absolute;
    bottom: 16%;right: 3%;*/
    position: absolute;
    bottom: 1%;
    left: 31%;
    z-index: 600;
    width: 67%;
    vertical-align: middle;
    font-size: 1.5em;
    height: 11%;
    line-height: 2.7em;
}

/* --------------------------------------------- */

.main-navigation {
    color: white;
    margin: 25px 0 0;
    position: relative;
    z-index:50000;
}

.main-navigation:after {
    content: " ";
    position: absolute;
    bottom: -25px;
    left: 0;

    width: 100%;
    min-height: 25px;
    background: url('../img/base_shadow@3x.png') no-repeat;
    background-size: contain;
}

.main-navigation .main-navigation-container {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 11px 5px;
    width: 93.3018%;
    margin: 0 auto;

    background-color: #fff;

}
.main-navigation .main-navigation-container img {
    margin-top: 5px;
    margin-left: 50px;
}

.main-navigation #next-button {
    position: absolute;
    right: 7%;
    font-size: 0;
}

/* --------------------------------------------- */

form.ng-submitted.ng-invalid {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: shake;
    animation-name: shake;
}

form.ng-invalid.ng-dirty .item {
    color: #ef473a;
    border-color: #ef473a;
}

/* --------------------------------------------- */

.validation-errors {
    background: #ef473a;
    color: white;
    padding: 10px;
}

.validation-errors li {
    display:block;
    margin: 5px 0;
}
/* --------------------------------------------- */

.paper {
    position: relative;
    min-height: 15px;
    margin-bottom: 35px;
    text-align: center;
    z-index: 10000;
}

.paper.paper-no-shadow {
    margin-bottom: 0;
}

.paper.paper-no-shadow:after {
    content:"";
    display:none;
}

.paper-container {
    padding: 30px;
}

.paper-container.paper-container-skinny {
    padding: 15px 5px;
}

.paper:after {
    content: " ";
    position: absolute;
    bottom: -25px;
    left: 0;

    width: 100%;
    min-height: 25px;
    background: url('../img/base_shadow@3x.png') no-repeat;
    background-size: 100% 100%;
}

.paper.paper-light {
    background-color: #fff;
}

.paper.paper-positive {
    background-color: #239ba1;
    color: #fff;
}

.paper.paper-light h1,
.paper.paper-light h2,
.paper.paper-light h3,
.paper.paper-light h4,
.paper.paper-light h5,
.paper.paper-light h6 {
    color: #007177;
}

.paper.paper-positive h1,
.paper.paper-positive h2,
.paper.paper-positive h3,
.paper.paper-positive h4,
.paper.paper-positive h5,
.paper.paper-positive h6 {
    color: white;
}
/* --------------------------------------------- */
#app-intro-view .challenge-intro-logo {
    margin-top: 50px;
}
/* --------------------------------------------- */

#left-menu-options {
    margin-top: 25px;
}

#login-view {
    text-align: center;
}

#login-view footer {
    margin: 110px auto 0;
    width: 90%;
    color: white;
    text-align: center;
}

#login-view #login-button {
    margin-top: 15px;
}

#login-view #registration-disclaimer {
    margin-top: 30px;
    text-align: center;
}


#login-view .logged-user-info h1 {
    margin: 0;
    color: white;
}
/* --------------------------------------------- */

#register-view .main-logo {
    margin-bottom: 20px;
}

/* --------------------------------------------- */

.question-card-list .card:first-child {
    margin-top: 0;
}

.question-card {

}

.question-card .button {
    transition: all 0.2s ease-in-out;
}

.question-card .button.active {
    color: white;
}

.question-card #answer-yes.active {
    background-color: #33cd5f;
}

.question-card #answer-no.active {
    background-color: #ef473a;
}

#oral-care-score {
    max-width: 100%;
}

/* --------------------------------------------- */
#oral-care-steps-view footer {
    position: absolute;
    bottom: 0;
    left: 0;
    vertical-align: bottom;
}

/* --------------------------------------------- */

.oral-care-steps {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    position: absolute;
    top: 73px; left: 0;
    width: 100%;
}

.oral-care-steps .oral-care-step-button {
    padding: 30px 15px 15px;
    /*border: 2px solid #00bbd6;
    background-color: #fff;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.2);*/
    display: inline-block;

    /*border-radius: 0 0 50% 50%;*/
    vertical-align: top;
    margin: 0 12px;
    background: url('../img/oral-care-step-button@3x.png') no-repeat;
    background-size:cover;
    background-position: bottom left;

    transition: all 0.2s ease-out;
    position: relative;
}

.oral-care-steps .oral-care-step-button img {
    max-width: 57px;
}

.oral-care-steps.oral-care-steps-plus .oral-care-step-button:after {
    content: "+";
    color: #007078;
    font-weight: bold;
    font-size: 3em;
    position: absolute;
    top: 30%;
    left: 105%;
    z-index: 4;
}

.oral-care-steps.oral-care-steps-plus .oral-care-step-button:last-child:after {
    content: "";
}

.oral-care-steps .oral-care-step-button.active {
    padding-top: 60px;
    background: url('../img/oral-care-step-button-active@3x.png') no-repeat;
    background-size: cover;
    background-position: bottom left;
}

.oral-care-step-container {
    width: 70%;
    margin: 105px auto 0;
    position: relative;
}

.slide-button {
    width: 44px;
    height: 44px;
    background-color: #007177;
    border: none;
    border-radius: 50%;
    color: #fff;
}

.slide-prev-button {
    position: absolute;
    top: 41%;left: -50px;
}

.slide-next-button {
    position: absolute;
    top: 41%;right: -50px;
}

.slider-pager .slider-pager-page {
    color: #fff;
}
/* --------------------------------------------- */

.master-view [ui-view].mask-effect.ng-enter,
.master-view [ui-view].mask-effect.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

.master-view [ui-view].mask-effect.ng-enter {
    opacity: 0;
    /*-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 30%, rgba(0,0,0,0) 40%);*/
    -webkit-mask-image: -webkit-gradient(linear, left top, right top,
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.35,  rgba(0,0,0,1)),
    color-stop(0.50,  rgba(0,0,0,0)),
    color-stop(0.75,  rgba(0,0,0,0)),
    color-stop(1.00,  rgba(0,0,0,0)));
    -webkit-mask-size: 200% auto; /* 755 * 3 */
    -webkit-mask-position: 100% 0;
}

.master-view [ui-view].mask-effect.ng-enter-active {
    opacity: 1;
    -webkit-mask-position: 0 0;

}

.master-view [ui-view].mask-effect.ng-leave {
    opacity: 1;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top,
    color-stop(0.00,  rgba(0,0,0,0)),
    color-stop(0.35,  rgba(0,0,0,0)),
    color-stop(0.50,  rgba(0,0,0,0)),
    color-stop(0.75,  rgba(0,0,0,1)),
    color-stop(1.00,  rgba(0,0,0,1)));
    /*-webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 30%, rgba(0,0,0,1) 40%);*/
    -webkit-mask-size: 250% auto; /* 755 * 3 */
    -webkit-mask-position: 100% 0;
}

.master-view [ui-view].mask-effect.ng-leave-active {
    opacity: 0;
    -webkit-mask-position: 0 0;
}

/* --------------------------------------------- */

.master-view [ui-view].slide-vertical-effect.ng-enter {
    -webkit-animation-name: bounceInUp;
    -webkit-animation-duration: 1s;
}

.master-view [ui-view].slide-vertical-effect.ng-leave {
    -webkit-animation-name: bounceOutDown;
    -webkit-animation-duration: 1s;
}

/* ---------------------------------------------- */

.intro-view {
    background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#ffffff 45%,#007177 99%); /* Chrome10+,Safari5.1+ */
    background: radial-gradient(ellipse at center,  #ffffff 0%,#ffffff 45%,#007177 99%); /* W3C */

    /*background: url('../img/intro-bg@3x.png') no-repeat;*/
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;

    text-align: center;
}

.challenge-intro-logo {
    width: 60%;
    margin-top: 150px;
    margin-bottom: 30px;
}
/* ---------------------------------------------- */

.listerine-modal-container {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    visibility: hidden;
    pointer-events: none;
    z-index: 50000;
}

.listerine-modal-container.open {
    visibility: visible;
    pointer-events: all;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 100%;
    z-index: 600;

    opacity: 0; visibility: hidden;
    transition: all 0.3s ease-out;
}

.listerine-modal-container.open .modal-backdrop {
    opacity: 1;
    visibility: visible;
}

.listerine-modal {
    position: fixed;

    position: fixed;
    bottom: -100%;
    left: 0;

    transition: all 0.4s ease-out;
    z-index: 700;

    background: white;
    text-align: center;
    padding: 20px;
}

.listerine-modal .close-button {
    border: none;
    background: url('../img/close-button@3x.png') no-repeat;
    background-size: contain;
    width: 45px;
    height: 45px;

    position: absolute;
    right: 0;
    top: 0;
}

.listerine-modal-container.open .listerine-modal {
    bottom: 0;
}

/* ---------------------------------------------- */

.days-menu {
    position: relative;
    top: -35px;
    left: 0;
    width: 100%;

    text-align: center;
}

.days-menu .day-button {
    display: inline-block;
    margin: 0 5px;
    min-width: 72px;
    min-height: 100px;

    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;

    transition: all 0.4s ease-out;
    height: 85px;
    vertical-align: top;

}

.days-menu .day-button a {
    display: block;
    width: 100%; height: 100%;
}

.days-menu .day-button.active {
    height: 125px;
    background-image: url('../img/button-day-active@3x.png') !important;
    background-size: contain;
}

#day1-button {
    background-image: url('../img/button-day1@3x.png');
}

#day7-button {
    background-image: url('../img/button-day7@3x.png');
}

#day14-button {
    background-image: url('../img/button-day14@3x.png');

}

#day21-button {
    background-image: url('../img/button-day21@3x.png');
}

.challenge-info-container {
    position: absolute;
    top: 90%; left: 0;
}

#oral-care-tips-view footer, #oral-care-steps-view footer {
    pointer-events:none;
}

/* ---------------------------------------------- */
/*
 * Media queries for smaller phones
 */

/* Width: iphone 4, 4s, 5, 5C, 5S */
@media only screen and (max-width: 320px) {

    #login-view footer {
        margin-top: 50px;
    }


    .oral-care-steps .oral-care-step-button img {
        max-width: 40px;
    }

    .oral-care-step-button,
    .oral-care-step-button.active {
        background-size: contain !important;
    }

    .oral-care-step-container {
        width: 80%;
        margin-top: 140px;
    }

    .challenge-intro-logo {
        margin-top: 65px;
    }

    .days-menu .day-button {
        min-width: 62px;
    }

    .main-navigation .main-navigation-container {
        padding: 5px;
    }

    .main-navigation .main-navigation-container img {
        margin-top: 9px;
        margin-left: 36px;
    }

    .paper-container.paper-container-skinny {
        padding: 9px;
    }

    .slide-prev-button {
        left: -29px;
    }

    .slide-next-button {
        right: -29px;
    }
}

@media only screen and (max-height: 480px) {
    #doctor-footer {
        display: none;
    }

    /*.challenge-info-container {
        top: 66%;
    }*/

    .usage-button {
        bottom: 1%;
        left: 5%;
        width: 90%;
        height: auto !important;
        font-size: 1em;
    }

    .oral-care-steps {
        top: 58px;
    }

    .oral-care-step-container {
        margin-top: 106px;
    }
}

/* heights: iphone 4, 4s, 5, 5C, 5S */
@media only screen and (max-height: 568px) {
    /*.challenge-menu-wrapper {
        position: absolute;
        top: 83px;
    }*/

    .challenge-info-container .container {
        width: 85%;
    }

    .days-menu .day-button.active {
        height: 120px;
    }

    .usage-button {
        font-size: 1.2em;
    }
}

/* width: 6  */
@media only screen and (min-width: 375px) {
    .days-menu .day-button {
        min-width: 77px;
        min-height: 161px;
    }

    .oral-care-step-container {
        width: 83%;
        margin: 150px auto 0;
    }

    .slide-prev-button {
        left: -33px;
    }

    .slide-next-button {
        right: -33px;
    }

    .oral-care-steps .oral-care-step-button {
        padding: 35px 17px 17px;
    }
}

@media only screen and (min-width: 414px) and (max-width: 649px) {
    .oral-care-steps .oral-care-step-button {
        padding: 35px 25px 25px;
    }
    
    #next-button {
        font-size: 1em !important;
    }
}

/* heights: iphone 6, 6 plus */
@media only screen and (min-height: 568px) {
    .challenge-intro-logo {
        margin-top: 150px;
    }
}

@media only screen and (min-width: 650px) {
    .ionic-scroll.contained {
        max-width: 650px;
        margin: 0 auto;
    }

    .nav-logo {
        max-width: 190px;
        margin-top: 0 !important;
        margin-left: 15px;
        text-align: center;
    }

    .oral-care-step-container {
        width: 70%;
        margin: 210px auto 0;
    }

    .oral-care-step-button {
        width: 170px;
        height: 190px;
        padding-top: 63px !important;
    }

    .oral-care-steps .oral-care-step-button.active {
        top: 14px;
    }

    .oral-care-steps .oral-care-step-button img {
        max-width: 82px;
    }

    .listerine-modal {
        width: 70%;
        left: 50%;
        margin-left: -37.5%;
    }

    .days-menu .day-button,
    .days-menu .day-button.active {
        width: 115px;
    }

    .days-menu .day-button.active {
        height: 220px;
    }
    
    #days-disclaimer {
        font-size: 2em;
        line-height: 1.5em;
    }

    .challenge-info-container {
        top: 100%;
        line-height: 0;
    }

    .challenge-info-container .container {
        width: 80%;
        line-height: 0;
    }

    .challenge-intro-logo {
        width: 70%
    }

    #login-view footer {
        margin-top: 250px;
    }

    .usage-button {
        font-size: 3em;
        height: 15%;
        line-height: 3.3em;
    }

    .r21d-logo {
        width: 180px;
    }
}