<header class="main-navigation">
  <div class="main-navigation-container">
    <button menu-toggle="left" class="button button-icon icon ion-navicon button-clear button-positive" ng-if="!hasBackButton"></button>
    <button class="button icon-left ion-chevron-left button-clear button-dark" ng-click="previousState()" ng-if="hasBackButton"></button>
    <img src="img/logo-login-screen@3x.png" alt="LISTERINE" width="45%" class="nav-logo" />
    <a id="next-button"
       ui-sref="{{nextState}}"
       ng-if="hasNextButton"
       class="button icon-right ion-chevron-right button-clear button-dark">siguiente</a>
  </div>

</header>