<div class="card question-card assessment-question-card">
    <div class="item item-body item-text-wrap">
        <!-- actual question -->
        <h2 ng-bind-html="question.question"></h2>

        <!-- possible answers -->
        <div class="row">
            <div class="col col-50">
                <a class="button button-light button-block" ng-class="{'active' : answer == 'NO'}" id="answer-no" ng-click="answerQuestion('NO')">NO</a>
            </div>
            <div class="col col-50">
                <a class="button button-light button-block"  ng-class="{'active' : answer == 'YES'}" id="answer-yes" ng-click="answerQuestion('YES')">SI</a>
            </div>
        </div>
        <!-- / possible answers -->
    </div>
</div>